body { background: black;
    color: darkgray;
    font-size: 12pt; }



a { padding: 3px;
    margin: 3px;
    background: aliceblue }

a { color: black;
    text-decoration: none }



body {
    background-image: url("vectors.png");
    background-color: #cccccc;
}



h1 {
    background-color: black;
}

div {
    background-color: lightblue;
}

p {
    background-color: blanchedalmond;
}